{% if (call_history && call_history.length > 0) { %}
<div class="row">
	<div class="col-xs-12 text-right">
		<div class="form-group">
			<button class="btn btn-xs btn-default view-all">View full history.</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	<table class="table table-bordered table-hover table-condensed small">
		<thead>
			<th width="3%"></th>
			<th>Call No.</th>
			<th>M/S No.</th>
			<th>Date</th>
			{% if (call_log_type != "Toner Log")  { %}
			<th>Call Type</th>
			<th>Symptom</th>
			{% } %}
			<th>Status</th>
		</thead>
		<tbody>
			{% var l = (call_history.length > 5) ? 5 : call_history.length %}
			{% for(var i=0; i<=l-1; i++) { %}
				<tr>
					<td class="text-right">{%= i+1 %}.</td>
					<td>
						<a class="btn btn-xs btn-default" href="/desk#Form/ASPA Call/{%= call_history[i].name %}">
							{%= call_history[i].name %}
						</a>
						
					</td>
					<td>{%= call_history[i].machine %}</td>
					<td>{%= moment(call_history[i].creation).format("D/MMM/YY HH:mm:ss") %}</td>
					{% if (call_log_type != "Toner Log")  { %}
					<td>{%= call_history[i].call_type %}</td>
					<td>{%= call_history[i].symptom %}</td>
					{% } %}
					<td>{%= call_history[i].workflow_state %}</td>
				</tr>
			{% } %}
		</tbody>
	</table>
	</div>
</div>
{% } else { %}
	{% if (!machine) { %}
			<div class="text-muted text-center">Please select a machine.</div>
	{% } else { %}
		<div class="text-muted text-center">No calls in history.</div>
	{% } %}
{% } %}

