{% if (call_allocations && (call_allocations.length > 0)) { %}
<div class="row">
	<div class="col-xs-12">
	<table class="table table-bordered table-hover table-condensed small">
		<thead>
			<th width="3%"></th>
			<th width="15%">Allocated On</th>
			<th width="15%">Allocated To</th>
			<th width="5%" class="text-center">Notification count</th>
			{% if (show_log_visit_col) { %}
				<th width="20%">Actions</th>
			{% } %}
		</thead>
		<tbody>
			{% for(var i=0, l=call_allocations.length; i<=l-1; i++) { %}
				<tr>
					<td class="text-right">{%= i+1 %}.</td>
					<td>{%= moment(call_allocations[i].allocated_on).format("D/MMM/YY HH:mm:ss") %}</td>
					<td>
						{%= call_allocations[i].engineer_name %}<br>
						<span class="small text-muted">{%= call_allocations[i].allocated_to %}</span>
					</td>
					<td class="text-center">
						{%= call_allocations[i].notification_count %}
					</td>
					{% if (show_log_visit_col) { %}
					<td class="text-center">
							<button class="btn btn-success btn-sm log-visit" data-allocation="{%= call_allocations[i].name %}" title="Log Visit">
								<i class="fa fa-list"></i>&nbsp;
								<span>Log Visit</span>
							</button>
							<button class="btn btn-warning btn-sm send-reminder" data-allocation="{%= call_allocations[i].name %}" title="Send Reminder">
								<i class="fa fa-envelope"></i>&nbsp;
								<span>Send Reminder</span>
							</button>
							{% show_log_visit_col = 0 %}
					</td>
					{% } %}
				</tr>
			{% } %}
		</tbody>
	</table>
	</div>
</div>
{% } else { %}
	<div class="text-muted text-center">No allocations yet.</div>
{% } %}
