{% if (call_visits && (call_visits.length > 0)) { %}
<div class="row">
	<div class="col-xs-12">
	<table class="table table-bordered table-hover table-condensed small">
		<thead>
			<th width="3%"></th>
			<th width="27%">Engineer</th>
			<th width="20%">Date</th>
			<th width="20%">Cause</th>
			<th width="20%">Action</th>
			<th width="10%">Status</th>
		</thead>
		<tbody>
			{% for(var i=0, l=call_visits.length; i<=l-1; i++) { %}
				<tr>
					<td class="text-right">{%= i+1 %}.</td>
					<td>

						{% if (call_visits[i].docstatus == 0) { %}
							<span class="indicator darkgrey"></span> 
						{% } else if (call_visits[i].docstatus == 1) { %}
							<span class="indicator green"></span>
						{% } else if (call_visits[i].docstatus == 2) { %}
							<span class="indicator red"></span>
						{% } %}
						<a class="btn btn-xs btn-default" href="/desk#Form/ASPA Call Visit/{%= call_visits[i].name %}">
							{%= call_visits[i].name %}
						</a>
						{%= call_visits[i].engineer_name %}
					</td>
					<td>{%= frappe.datetime.str_to_user(call_visits[i].creation) %}</td>
					<td>{%= call_visits[i].cause %}</td>
					<td>{%= call_visits[i].action %}</td>
					<td>{%= call_visits[i].call_status_after_visit %}</td>
				</tr>
			{% } %}
		</tbody>
	</table>
	</div>
</div>
{% } else { %}
	<div class="text-muted text-center">No call visits logged yet.</div>
{% } %}

