{% if (reading_history && reading_history.length > 0) { %}
<div class="row">
	<div class="col-xs-12 text-right">
		<div class="form-group">
			<button class="btn btn-xs btn-default view-all">View full history</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	<table class="table table-bordered table-hover table-condensed small">
		<thead>
			<th width="3%"></th>
			<th>Reading</th>
			<th>Reading Time</th>
			<th>Employee</th>
		</thead>
		<tbody>
			{% var l = (reading_history.length > 5) ? 5 : reading_history.length %}
			{% for(var i=0; i<=l-1; i++) { %}
				<tr>
					<td class="text-right">{%= i+1 %}.</td>
					<td>
						<a class="btn btn-xs btn-default" href="/desk#Form/ASPA Patch Meter Reading/{%= reading_history[i].name %}">
							{%= reading_history[i].reading %}
						</a>
					</td>
					<td>{%= moment(reading_history[i].reading_time).format("D/MMM/YY HH:mm:ss") %}</td>
					<td>{%= reading_history[i].employee %}</td>
				</tr>
			{% } %}
		</tbody>
	</table>
	</div>
</div>
{% } else { %}
	{% if (!machine) { %}
			<div class="text-muted text-center">Please select a machine.</div>
	{% } else { %}
		<div class="text-muted text-center">No readings in history.</div>
	{% } %}
{% } %}

