<div class="row">
	<div class="col-xs-12">
		<table class="table table-bordered table-condensed table-hover small">
			<thead>
				{% for (var i=0; i<=meters.length-1; i++) { %}
					<th>{%= meters[i].name %}</th>
				{% } %}
				<th></th>
			</thead>
			<tbody>
				{% for (var j=0; j<=meters.length-1; j++) { %}
					<td>
						<input class="{%= meters[j].name %} input-with-feedback form-control bold input-sm" data-purpose="reading-input"/>
					</td>
				{% } %}
				<td>
					<button class="btn btn-xs btn-primary add-reading">Add</button>
				</td>
			</tbody>
		</table>
	</div>
</div>
