<div id="monthly-proforma" class="row">
	<div class="col-xs-12">
		<table class="table table-bordered table-striped table-hover small">
			<thead>
				<tr>
					<th class="col-md-1 col-sm-1 col-xs-1">Machine</th>
					<th class="col-md-2 col-sm-2 col-xs-2">Customer</th>
					<th class="col-md-4 col-sm-4 col-xs-4 text-center">Last Meter Reading</th>
					<th class="col-md-4 col-sm-4 col-xs-4 text-center">Current Meter Reading</th>
				</tr>
				<tr>
					<th class="col-md-1 col-sm-1 col-xs-1"></th>
					<th class="col-md-2 col-sm-2 col-xs-2"></th>
					<th class="col-md-4 col-sm-4 col-xs-4" style="background:#e6e6e6;">
						{% for(var m=0; m < all_meters.length; m++) {  %}
						<!-- {% var col_no = all_meters.length %} -->
						<div class="col-md-2 col-sm-2 col-xs-2">
							{%= all_meters[m].name %}
						</div>
						{% } %}
					</th>
					<th class="col-md-4 col-sm-4 col-xs-4" style="background:#d9d9d9;">
						{% for(var m=0; m < all_meters.length; m++) {  %}
						<div class="col-md-2 col-sm-2 col-xs-2">
							{%= all_meters[m].name %}
						</div>
						{% } %}
					</th>
				</tr>
			</thead>
			<tbody>
				{% for(var i=0; i < machines_info.length; i++) {  %}
				{% var row_mi = machines_info[i] %}				
				<tr>
					<td>{%= row_mi["mi"].serial_no %}</td>
					<td>{%= row_mi["mi"].customer %}</td>
					<td>
						{% for (var j=0; j < all_meters.length; j+=1) { %}
							{% var readings_by_meter = row_mi["readings_by_meter"]; %}
							{% for (var k=0; k < readings_by_meter.length; k+=1) { %}
								{% if (all_meters[j].name == readings_by_meter[k].meter) { %}
									{%= readings_by_meter[k].previous_reading %}
								{% } else { %}
									{%= "-" %}
								{% } %}
							{% } %}
						{% } %}
					</td>
					<td></td>
				</tr>
				{% } %}
			</tbody>
		</table>
	</div>
</div>