<div id="monthly-fsma-readings" class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<table class="table table-list table-striped table-hover small">
				<thead>
					<th width="5%">Machine</th>
					<th width="20%">Customer</th>
					<th width="30%">Installation Address</th>
					<th width="50%">Readings</th>
				</thead>
				<tbody>
					{% for(var i=0; i < machines_info.length; i++) {  %}
					{% var row_mi = machines_info[i] %}
					
					<tr id="{%= row_mi["mi"].serial_no %}" data-purpose="machine-data-row">
						<td data-purpose="machine-no">{%= row_mi["mi"].serial_no %}</td>
						<td>{%= row_mi["mi"].customer %}</td>
						<td>{%= row_mi["mi"].installation_address %}</td>
						<td>
							{%= frappe.render_template("monthly_readings_with_input", {"readings_by_meter": row_mi["readings_by_meter"]}) %}
						</td>
					</tr>
					{% } %}
				</tbody>
			</table>
		</div>
	</div>
</div>