<div class="panel panel-default">
	<table>
		<tr>
			{% for (var j=0; j < readings_by_meter.length; j+=1) { %}
			<td>
				<div>{%= readings_by_meter[j].meter %}</div>
				<input class="input-with-feedback form-control input-sm ellipsis" placeholder="{%= readings_by_meter[j].meter %}"
				value="{%= readings_by_meter[j].previous_reading %}" disabled/>

				<input class="input-with-feedback form-control input-sm ellipsis" data-purpose="reading-input" placeholder="{%= readings_by_meter[j].meter %}"
				value="{%= readings_by_meter[j].current_reading %}" data-meter="{%= readings_by_meter[j].meter %}"/>
			</td>
			{% } %}
		</tr>
	</table>
</div>

