<div class="panel panel-default">
    <table>
        <tr>
            {% for (var j=0; j < readings_by_meter.length; j+=1) { %}
            <td>
                <div>{%= readings_by_meter[j].meter %}</div>
                <input class="input-with-feedback form-control input-sm ellipsis" placeholder="{%= readings_by_meter[j].meter %}"
                value="{%= readings_by_meter[j].current_reading %}" disabled/>

                <input class="input-with-feedback form-control input-sm ellipsis" data-purpose="reading-input" placeholder="{%= readings_by_meter[j].meter %}"
                value="{%= readings_by_meter[j]. %}" data-meter="{%= readings_by_meter[j].meter %}"/>
            </td>
            {% } %}
        </tr>
    </table>
</div>
<!-- <tr>
    <tbody>
        {% for (var i=0; i <= prev_meter_readings.length-1; i++) { %}
            <tr>
                {% for (var j=0; j <= prev_meter_readings["meter_reading"]-1; j++) { %}
                    {%= frappe.render_template() %}
                {% } %}
            </tr>
        {% } %}
    </tbody>
</tr>
 -->